<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <form action="/results" method="post"></form>
    <p>select Rock, Paper, or Scissors</p>
    <select name="our_choice" id="">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
        <button>Submit your choice</button>
    </select>
    <br>
    <strong>Your Choice: {{session.our_choices}}</strong>
    <br>
    <strong>Opponent Choice: {{session.opponents_choice}}</strong>
    <br>
    <strong>Current Win: add wins here</strong>
    <br>
    <strong>Current Losses: add losses here</strong>
    <br>
    <strong>Current Draws: add draws here</strong>
    <br>
    <strong>Last Result: add last result here</strong>
    <br>
    <h1>place holder for our outcomes</h1>
    <br>
    <a href="">Clear Session</a>
</body>
</html>